/* ===== Primary Styles ========================================================
   Author: Roman Rybalchenko
   ========================================================================== */

.input-xxlarge-responsive {
	width: 80%;
}

#centered {
	margin: 20% auto;
}